body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

input {
  border: 3px solid white;
  border-radius: 3px;
  width: 125px;
}

button {
  border: 3px solid #efefef;
  border-radius: 3px;
}

input:focus, button:focus {
  border: 3px solid lime;
  outline: none;
}